.item-custom-sidebar-separator {
  padding: 8px 0;

  .Dropdown-separator {
    border: 0;
  }
}

.item-external-bluesky-link,
.item-external-mastodon-link {

  .Button--link {
    justify-content: flex-start;
  }

}

.IndexSidebar-nav-heading {
  font-weight: 600;
  padding: 8px 0;
}
